LoadPlugin memory

<Chain "PostCache"> 
  <Rule "set_memory_monitor_id"> 
    <Match "regex"> 
      Plugin "^memory$" 
    </Match> 
    <Target "set"> 
      Host "[monitorID={{.MonitorID}}]"
    </Target> 
  </Rule> 
</Chain>
